div#call_list
{
	/*border: 1px solid red;*/
}

div.callbox
{
	padding: 0.7em;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 5px;
    
}

div.callbox div
{
	margin-left: 1em;
	display: inline-block;
	vertical-align: middle;
	font-size: x-large;
}

.call_icon
{
	background-repeat: no-repeat;
	min-width: 64px;
	min-height: 64px;
}

div.callbox .caller_num
{
	font-weight: bold;
	font-size: xx-large;
}

div.callbox .caller_name
{
	max-width: 25em;
}

div.callbox.new
{
    /*background-color: red;*/
    background-color: rgb(255,128,0);
}
div.callbox.new	.call_icon
{
	background-image: url('images/call_ring_64x64.png');
	-webkit-animation-name: linkRing;
	-moz-animation-name: linkRing;
	animation-name: linkRing;
	-webkit-animation-duration: 0.8s;
	-moz-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	animation-timing-function: linear;
}

div.callbox.transferred
{
    background-color: #aaa;
	display: none;
}
div.callbox.transferred	.call_icon	{	background-image: url('images/call_cleared_64x64.png'); }

div.callbox.pickedup
{
    /*background-color: green;*/
    background-color: rgb(181,230,29);
}
div.callbox.pickedup	.call_icon	{ background-image: url('images/call_pickedup_64x64.png'); }

div.callbox.closed
{
    background-color: #aaa;
}
div.callbox.closed	.call_icon	{ background-image: url('images/call_cleared_64x64.png'); }



/* Animation stuff */
@keyframes linkRing {
	0%   { 
		transform: translate(2px, 1px)   rotate(0deg); 
	}
	10%  { 
		transform: translate(-1px, -2px) rotate(-5deg); 
	}
	20%  { 
		transform: translate(-2px, 0px)  rotate(5deg); 
	}
	30%  { 
		transform: translate(0px, 2px)   rotate(0deg); 
	}
	40%  { 
		transform: translate(1px, -1px)  rotate(5deg); 
	}
	50%  { 
		transform: translate(-1px, 1px)  rotate(-5deg); 
	}
	60%  { 
		transform: translate(-2px, -2px)  rotate(0deg); 
	}
	70%  { 
		transform: translate(2px, 1px)   rotate(-5deg); 
	}
	80%  { 
		transform: translate(-1px, -2px) rotate(5deg); 
	}
	90%  { 
		transform: translate(2px, -1px)   rotate(0deg); 
	}
	100% { 
		transform: translate(1px, -2px)  rotate(-5deg); 
	}
}

@-moz-keyframes linkRing { /* Firefox */
	0%   { 
		-moz-transform: translate(2px, 1px)   rotate(0deg); 
	}
	10%  { 
		-moz-transform: translate(-1px, -2px) rotate(-5deg); 
	}
	20%  { 
		-moz-transform: translate(-2px, 0px)  rotate(5deg); 
	}
	30%  { 
		-moz-transform: translate(0px, 2px)   rotate(0deg); 
	}
	40%  { 
		-moz-transform: translate(1px, -1px)  rotate(5deg); 
	}
	50%  { 
		-moz-transform: translate(-1px, 1px)  rotate(-5deg); 
	}
	60%  { 
		-moz-transform: translate(-2px, -2px)  rotate(0deg); 
	}
	70%  { 
		-moz-transform: translate(2px, 1px)   rotate(-5deg); 
	}
	80%  { 
		-moz-transform: translate(-1px, -2px) rotate(5deg); 
	}
	90%  { 
		-moz-transform: translate(2px, -1px)   rotate(0deg); 
	}
	100% { 
		-moz-transform: translate(1px, -2px)  rotate(-5deg); 
	}
}

@-webkit-keyframes linkRing { /* Safari and Chrome */
	0%   { 
		-webkit-transform: translate(2px, 1px)   rotate(0deg); 
	}
	10%  { 
		-webkit-transform: translate(-1px, -2px) rotate(-5deg); 
	}
	20%  { 
		-webkit-transform: translate(-2px, 0px)  rotate(5deg); 
	}
	30%  { 
		-webkit-transform: translate(0px, 2px)   rotate(0deg); 
	}
	40%  { 
		-webkit-transform: translate(1px, -1px)  rotate(5deg); 
	}
	50%  { 
		-webkit-transform: translate(-1px, 1px)  rotate(-5deg); 
	}
	60%  { 
		-webkit-transform: translate(-2px, -2px)  rotate(0deg); 
	}
	70%  { 
		-webkit-transform: translate(2px, 1px)   rotate(-5deg); 
	}
	80%  { 
		-webkit-transform: translate(-1px, -2px) rotate(5deg); 
	}
	90%  { 
		-webkit-transform: translate(2px, -1px)   rotate(0deg); 
	}
	100% { 
		-webkit-transform: translate(1px, -2px)  rotate(-5deg); 
	}
}